/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    /* 추가: 헤더의 높이 설정 */
    height: 100px;
    position: relative;
}

.header__logo {
	margin-top: 5px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.header__nav {
    float: right;
    position: absolute;
    right: 20%;
    bottom: 10%;    
}

.header__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    display: inline-block;
    margin-left: 20px;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.header__nav-link:hover {
    /*text-decoration: underline;*/
    color: gray;
}

/* Hero section */
.banner {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 500px;
    position: relative;    
    overflow: hidden;
}

.slider {
	position: absolute;
	opacity: 0;
}

.slider:nth-child(1) {
	opacity: 1;
}

/* Products section */
.index-products {
    /*padding: 50px 0;*/
}

.index-product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product__item {
    text-align: center;
    margin-bottom: 30px;
    width: 30%;
}

.product__image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */ 
}

.product__title {
    font-size: 1.5em;
    margin-top: 10px;
}

.product__price {
    font-size: 1.3em;
    color: #333;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn--primary {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
}

.btn--primary:hover {
    background-color: #ffc107;
}

.btn--secondary {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

.btn--secondary:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer__nav {
    margin-bottom: 10px;
}

.footer__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__nav-item {
    display: inline;
    margin-right: 10px;
}

.footer__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer__nav-link:hover {
    text-decoration: underline;
}

.footer__copyright {
    font-size: 0.9em;
}